<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
     <link rel="stylesheet" type="text/css" href="*/templates/login.css" media="screen">    
    </head>
<body>
    <div>
        <a href='/logout'>logout</a>
        <a href='/login'>login</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages: %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}"> {{message}} </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>