<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>
    <div>
        <a href='/'>Home</a>
        <a href='/blog'>All posts</a>
        <a href="/newpost">newpost</a>
        <a href='/login'>login</a>
        {% if session['user'] %}
            <a href='/logout'>logout</a>
        {% endif %}
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages: %}
        <ul>
        {% for category,message in messages %}
            <li class="{{category}}"> {{message}} </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>