{% extends 'base.html' %}

{% block content %}
{% if name_single %}
<h1>{{name_single.name}}</h1>
{% else %}
<h1>Entries</h1>
{% endif %}
    <hr />
    {% if posts|length == 0 %}
    <p>No posts yet</p>
    {% else %}
        {% for post in posts %}
            <a href='/post?id={{post.id}}' name='title'>{{post.title}}</a>
            <p name='body'>{{post.body}}</p>
            {% if name %}
                {% for name in name %}
                    {% if post.owner_id == name.id %}
                        <a href=blog?user={{post.owner_id}}>{{name.name}}</a></br><hr /></br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        </ul>

    {% endif %}
    
    
 
{% endblock %}